body {
    background-color: #F0F8FF;
}

a {
    text-decoration: none;
    color: lightblue;
}

a:hover {
    background-color: indianred;
}

.flexSec {
    display: flex;
    column-gap: 15px;
}

.rodape {
    display: flex;
    column-gap: 20px;
    padding: 15px;
    background-color: #38444d;
}

.rodape {
    color: #FFF;
}

.rodape {
    font-size: 30px;
}

.rodape {
    font-size: 10px;
}

.mapa {
    width: 400px;
    height: 300px;
    border: 0;
    border-radius: 10px ;
}

.divEsq {
    padding: 10px;
    padding-left: 100px;
    width: 33%;
}

.divDir {
    padding: 10px;
    left: 84%;
    width: 40%;
    text-align: right;
}

.divMap {
    padding-left: 60px;
}
