* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
}

li {
    float: left;
}

li a,
.my_dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.my_dropdown:hover .my_dropbtn {
    background-color: red;
}

li.my_dropdown {
    display: inline-block;
}

.my_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.my_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.my_dropdown-content a:hover {
    background-color: #f1f1f1;
}

.my_dropdown:hover .my_dropdown-content {
    display: block;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}


.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


